#game-wrapper{
	border: 20px red;
}
#header{
	background-color: red;
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
	text-align: center;
	padding: 10px;
}
#fight-flee{
	background-color: #3399ff;
	min-height: 650px;
	color: black;
	float: left;
	font-size: 30px;
	text-align:  center;
	border: 6px solid black;
}
#fight-flee img{
	margin: 10px 0 10px 10px;
}
button{
	background-color: black;
	color: white;
	font-size: 25px;
	border-radius: 50%;
	margin: 1% 0 1% 0;
	position: relative;
	width: 100px;
}
button[name=fight]{
	margin-top: 50px;
	color: red;	
}
button[name=flee]{
	color: #ff99ff;
}
#game-field{
	float: left;
	border: 6px solid black;
	height: 650px;
}
#instructions{
	width: 80%;
	font-size: 16px;
	background-color: #fff2e6;
	border-radius: 5px;
	border: 1px solid black;
	padding: 8px;
	margin: auto;
	margin-top: 30px
}
.character{
	text-align: center;
}
#the-fight{
	width: 80%;
	background-color:  #fff2e6;
	text-align: center;
	display: none;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	border: 1px solid black;
}
#damage{
	width: 30%;
	background-color:  #fff2e6;
	text-align: center;
	display: none;
	margin: auto;
	margin-top: 30px;
	border-radius: 50%;
	border: 5px solid black;
	font-size: 70px;
}
.game-footer{
	text-align: center;
	font-size: 40px;
}
#run-away{
	display: none;
}
#defeated{
	display: none;
}
#victory{
	display: none;
}
img{
	max-height: 550px;
}



















